*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    background-image: url('../images/background.jpg');
    background-position: 0px -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(50%);
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    width: 50%;
    height: 75vh;
    background-color: rgb(43, 43, 43);
    margin-top: 2%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    padding-top: 10%;
    color: white;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#loginheader{
    font-size: 30px;
}

.input-form{
    margin-top: 5%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 7px;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
}

.button{
    color:white;
    cursor: pointer;
    user-select: none;
    background-color: rgb(24, 24, 24);
    height: 5vh;
    width: 5vw;
    text-align: center;
    line-height: 5vh;
    border-radius: 5px;
}